.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem 2rem 4rem;
  min-height: calc(100vh - 5rem);
  gap: 2rem;
}

/* Mobile */
@media (max-width: 500px) {
  .main {
    padding: 2rem;
  }
}